<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DetectLang</title>
    <link rel="stylesheet" href="/styles/css-files/detect-style.css">
    <link rel="stylesheet" href="/styles/media-files/detect-media.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="cover-background">
    </div>

    <div class="confirm">
        <h1>Leave this page:</h1>
        <p>Are you sure you want to leave the page?</p>
        <div class="btns-row">
            <button class="yes-btn" onclick="backToHomePage(true)">Yes</button>
            <button class="no-btn" onclick="backToHomePage(false)">No</button>
        </div>
    </div>

    <div class="container">
        <div class="row1">
            <button onclick="confirmMessage()" type="button" class="home-page">
                <img src="/styles/images/back.png" alt="back">
            </button>
            <div class="options-div">
                <div class="format-div">
                    <p class="label" style="text-align: center; margin: 0px 4px 0px 0px; font-size: 20px;">Choose a format:</p>
                    <button type="button" class="json-btn">JSON</button>
                    <button type="button" class="format-btn">Format</button>
                </div>
            </div>
        </div>
        <form action="/response" method="POST" class="row2">

            <textarea class="input" id="userText" name="userText" placeholder="Enter your text here..."><%= data %></textarea>

            <button type="submit" class="detect-language">Detect Language</button>

            <!-- This is used for the JSON format -->
            <textarea class="result" readonly>{
  "data": {
    "detections": [
      {
        language": "<%= result.data.detections[0].language %>",
        "isReliable": <%= result.data.detections[0].isReliable %>,
        "confidence": <%= result.data.detections[0].confidence %>
      }
    ]
  }  
}
            </textarea>
                    
            <!-- This is used for the ordinary format -->
            <textarea class="result2" readonly>
Language: <%= result.data.detections[0].language %>
Is reliable: <%= result.data.detections[0].isReliable %>
Confidence: <%= result.data.detections[0].confidence %>
            </textarea>

        </form>
    </div>

    <script>
        const coverBackground = document.querySelector(".cover-background");
        const confirmation = document.querySelector(".confirm");

        const jsonBtn = document.querySelector(".json-btn");
        const formatBtn = document.querySelector(".format-btn");

        const result = document.querySelector(".result");
        const result2 = document.querySelector(".result2");

        function setToggleEffect(value) {
            if (value) {
                result.style.display = "none"
                result2.style.display = "block"
                jsonBtn.style.backgroundColor = "#202020"
                formatBtn.style.backgroundColor = "green"
            } else {
                result.style.display = "block"
                result2.style.display = "none"
                jsonBtn.style.backgroundColor = "green"
                formatBtn.style.backgroundColor = "#404040"
            }
        }

        function confirmMessage() {
            coverBackground.style.display = "block";
            confirmation.style.display = "block";
        }

        function backToHomePage(boolean) {
            if (boolean) {
                window.location.href = '/';
            } else {
                coverBackground.style.display = "none";
                confirmation.style.display = "none";
            }
        }

        jsonBtn.addEventListener("click", function() {
            setToggleEffect(0)
        })

        formatBtn.addEventListener("click", function() {
            setToggleEffect(1)
        })
    </script>
</body>
</html>